{% extends 'base.html' %}

{% load static %}
{% load range %}
{% load mathfilters %}

{% block content %}
<div class="container-fluid" style="max-height:350px">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-image" style="border-radius:0 !important;height: 234px;background-image: url({% static 'img/hero.projects.png' %});background-repeat: no-repeat;
                        background-size: cover;">
                <div class="container text-white py-2 px-4 my-4" style="width:50%">
                    <h1 class="card-title font-bold hero-project"><strong>Platzi Projects</strong></h1>
                    <p style="font-size:1.2em">¡Manos a la obra!. Crea y participa en proyectos de la comunidad de Platzi, esta es tu oportunidad de demostrar lo que sabes</p>
                    <input id="search" autocomplete="off"  class="form-control" type="text" name="query" placeholder="Buscar Proyecto" />
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">
    {% if q %}
    <a href="?" class="btn btn-primary" role="button"><i class="fa fa-magic mr-1"></i>Ver todos</a>
    {% endif %}

    <div class="row">
        <div class="col-8">
            <ul class="list-unstyled projects-list">
            {% if projects %}
                {% for project in projects %}
                    <li class="media">
                        <img width="72" class="d-flex mr-3 img-fluid" src="{{project.logo.url}}" alt="{{project.name}}">
                        <div class="media-body">
                            <a href="/projects/{{project.pk}}">
                                <h5 class="mt-0 mb-2 font-weight-bold">{{project.name}}</h5>
                            </a>
                            <!--Review-->
                            {% if project.stars %}
                                {% for star in project.stars|range %}
                                    <i class="fa fa-star blue-text"> </i>
                                {% endfor %}
                                {% if project.stars < 5 %}
                                    {% for star in 5|sub:project.stars|range %}
                                        <i class="fa fa-star grey-text"> </i>
                                    {% endfor %}
                                {% endif %}

                            {% else %}

                            <i class="fa fa-star grey-text"> </i>
                            <i class="fa fa-star grey-text"> </i>
                            <i class="fa fa-star grey-text"> </i>
                            <i class="fa fa-star grey-text"> </i>
                            <i class="fa fa-star grey-text"> </i>

                            {% endif %}


                            <p>{{project.description}}</p>
                            <div class="row">
                                <div class="col">
                                    {% for lang in project.stacks.all %}
                                        <i class="fab fa-{{lang.name}} fa-2x gray-text"> </i>&nbsp;&nbsp;
                                    {% endfor %}
                                </div>
                                <div class="col">
                                    <span class="project-members">{{project.members}} colaboradores</span>
                                </div>
                                <div class="col">
                                    <a href="{{project.github}}" target="_blank" role="button" class="btn btn-elegant btn-rounded fab fa-github fa-2x float-right"> Github</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
            <li class="alert alert-danger" role="alert">Sin resultados</li>
            {% endif %}
            </ul>
        </div>
        <div class="col-4 side">
            <div class="row side-header">
                <div class="col-4">
                    <img src="{% static 'img/project-management.png' %}" class="img-fluid" />
                </div>
                <div class="col-8">
                    <small>Platzi</small>
                    <h3><strong>PROJECTS</strong></h3>
                    <small><strong>{{count}}</strong> proyectos disponibles</small>
                </div>

            </div>
            <a href="" role="button" class="btn btn-success btn-rounded "><i class="fa fa-plus fa-1x"></i></a> &nbsp;&nbsp;Nuevo Proyecto
        </div>
    </div>

</div>
<script>
    $( document ).ready(function() {
        $('#search').keypress(function(event){
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                window.location.replace('?q='+ $('#search').val())
            }
        });
    });
</script>

{% endblock %}
